<div data-role="header">
  <h1>CHUKKA - MOBILE</h1>

</div>

<div data-role="content">
  <ul data-role="listview">
		<li>
			<h3>Jamaica</h3>
				<p>Tours in Montego Bay, Ocho Rios & Falmouth.</p>
				
				<ul>
					<li>Montego Bay
						<ul>
							<li><%= link_to "Zipline Canopy", "/excursions/1" %></li>
							<li><%= link_to "Horseback Ride N' Swim", "/excursions/2" %></li>
							<li><%= link_to "ATV Safari", "/excursions/3" %></li>
							<li><%= link_to "4x4 Jeep Safari ", "/excursions/1" %></li>
							<li><%= link_to "Ultimate Kayak Adventure", "/excursions/2" %></li>
							<li><%= link_to "Flight Of The White Witch", "/excursions/3" %></li>
						</ul>
					</li>

					<li>Ocho Rios
						<ul>
							<li><%= link_to "Horseback Ride N' Swim", "/excursions/2" %></li>
							<li><%= link_to "Zipline Canopy", "/excursions/1" %></li>
							<li><%= link_to "ATV Safari", "/excursions/3" %></li>
							<li><%= link_to "4x4 Safari - Dunn's River", "/excursions/1" %></li>
							<li><%= link_to "Zion Bus Line", "/excursions/2" %></li>
							<li><%= link_to "Jamaica Dogsled Encounter", "/excursions/3" %></li>
						</ul>
					</li>

					<li>Falmouth
						<ul>
							<li><%= link_to "Zipline Canopy", "/excursions/1" %></li>
							<li><%= link_to "Good Hope Estate Tour", "/excursions/2" %></li>
							<li><%= link_to "ATV Safari", "/excursions/3" %></li>
							<li><%= link_to "Good Hope Taste of Jamaica", "/excursions/1" %></li>
							<li><%= link_to "Zipline Canopy & River Tubing Combo", "/excursions/2" %></li>
							<li><%= link_to "High Teat at Good Hope Estate", "/excursions/3" %></li>
						</ul>
					</li>
				
				</ul>
	  </li>

	  <li>
			<h3>Belize</h3>
				<p>Tours at Jaguar Paw, Big Hill Station & Airboat Outpost.</p>
				
				<ul>
					<li>Jaguar Paw
						<ul>
							<li><%= link_to "Crystal Cave Tubing", "/excursions/1" %></li>
							<li><%= link_to "Cave Tubing", "/excursions/2" %></li>
							<li><%= link_to "Zipline Canopy", "/excursions/3" %></li>
							<li><%= link_to "Crystal Cave/Zipline Combo ", "/excursions/1" %></li>
							<li><%= link_to "Cavetubing/Zipline Combo", "/excursions/2" %></li>
						</ul>
					</li>

					<li>Big Hill Station
						<ul>
							<li><%= link_to "Raiders of the Lost Mayan Cave", "/excursions/2" %></li>
							<li><%= link_to "Zipline Canopy", "/excursions/1" %></li>
							<li><%= link_to "Lost World Canopy Tour", "/excursions/3" %></li>
							<li><%= link_to "Raiders of the Lost Mayan Cave", "/excursions/1" %></li>
						</ul>
					</li>

					<li>Airboat Outpost
						<ul>
							<li><%= link_to "Airboat Tour", "/excursions/1" %></li>
							<li><%= link_to "Good Hope Estate Tour", "/excursions/2" %></li>
						</ul>
					</li>
				</ul>
	  </li>


	  <li>
			<h3>Turks & Caicos</h3>
				<p>Tours in Grand Turk</p>
				
				<ul>
					<li>Jaguar Paw
							<li><%= link_to "Horseback Ride N' Swim", "/excursions/2" %></li>
							<li><%= link_to "Dune Buggy Adventure", "/excursions/1" %></li>
							<li><%= link_to "Jeep 4x4 Safari", "/excursions/3" %></li>
					</li>

				</ul>
	  </li>


  </ul> <!-- List view -->



</div>