<div data-role="header">
  <h1>CHUKKA - MOBILE</h1>

</div>

<div data-role="content">
  <ul data-role="listview">
		<li><%= link_to "Top Montego Bay Tours" %></li>
		<li><%= link_to "Zipline Canopy", "/excursions/1" %></li>
		<li><%= link_to "Horseback Ride N' Swim", "/excursions/2" %></li>
		<li><%= link_to "ATV Safari", "/excursions/3" %></li>
		<li><%= link_to "Top Ocho Rios Tours", tours_show_path %></li>
		<li><%= link_to "Dune Buggy Adventure", "/excursions/4" %></li>
		<li><%= link_to "4x4 Safari - Dunn's River", "/excursions/5" %></li>
		<li><%= link_to "Zion Bus Line", "/excursions/6" %></li>
		<li><%= link_to "Belize", tours_show_path %></li>
		<li><%= link_to "Turks", tours_show_path %></li>
		<li><%= link_to "Show all tours", tours_show_path %></li>
	</ul>
</div>