<div class="ui-bar ui-bar-b">
	<h4 style= "text-align:center;" ><%= @excursion.name%></h4>
</div>
 <div data-role="content">
	<%= @excursion.content.html_safe %>
	<div id = "excursion_photo"> <%=image_tag(@excursion.photo, :size => "250x250" )%> </div>

	<p> Located at our <%= @excursion.location %> in <%= @excursion.area %></p>
	<p>Request your tour date below</p>
	
	<%= form_for @customer do |c| %>
		<%= c.date_select :tour_date, :end_year => 2014, :start_year => 2012%>
		<%#= c.text_field :tour_date%>
		<%= c.hidden_field :tour_name, :value => @excursion.name %>
		<%= c.hidden_field :price, :value => @excursion.price %>
		<%= c.email_field :email, :placeholder => "youremail@email.com" %>
		<%= c.submit "Request Tour" %>
	<% end %>



</div>



