<div class="ui-bar ui-bar-b">
	<h4 style= "text-align:center;" ><%= @excursion.name%></h4>
</div>
 <div data-role="content">

 	<div id = "excursion_photo"> <%=image_tag(@excursion.photo, :width => "100%" )%> </div>


	<p>
		<%= @excursion.content.html_safe %>
	</p>
	

	<!-- <p> Located at our <%= @excursion.location %> in <%= @excursion.area %></p> -->
	
	<%#= @excursion.locations.inspect %>
	<%= form_for @customer do |c| %>
		<%= c.label :tour_date ," Enter the date of tour " %>
		<%= c.date_select :tour_date, :end_year => 2014, :start_year => 2012%>
		
		<% if @excursion.locations.empty? %>
			<%= "NO LOCATIONS ADDED YET" %>
		<% else %>
			<%=	c.label :tour_location, " Choose the tour location " %>
			<%= c.collection_select(:tour_location, @excursion.locations, :name , :name ) %>
		<% end %>

		<%= c.hidden_field :tour_name, :value => @excursion.name %>
		<%= c.hidden_field :price, :value => @excursion.price %>

		<%=	c.label :tour_location, " Enter your email " %>
		<%= c.email_field :email, :placeholder => "youremail@email.com" %>
		<%= c.submit "Request Tour" %>
	<% end %>



</div>



