<!DOCTYPE html>
<html>
<head>
  <title>Chukka - Mobile |</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
 
 <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
 <%= stylesheet_link_tag "style"%>

 <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" /> 
 <%= stylesheet_link_tag "style", :media => "all" %>
 <%= stylesheet_link_tag "application", :media => "all" %>

 <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script src="http://modernizr.com/downloads/modernizr.js"></script>
 <%= javascript_include_tag "swipe", :media => "all" %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div data-role = "page" data-add-back-btn="true">
		<div data-role="header" style="background-color:#414141; background-image:none;height:15%;text-align:center">
		<a href="/" class="ui-btn-right" data-icon="home" data-iconpos="notext" 
           data-direction="reverse">Home</a> 
			<%#=link_to(image_tag("http://chukkacaribbean.com/mobile/Chukka.White.png"), "http://google.com" )%>
			<%= image_tag("http://chukkacaribbean.com/mobile/Chukka.White.png", :width => "50%" )%>
		</div>
			<div class="fb-like" data-href="http://facebook.com/chukkacaribbean" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
		<%= yield %>
	</div>
</body>
</html>
